@keyframes fillLq {

    0%,
    10% {
        background-position: 0 186px
    }

    90%,
    100% {
        background-position: 0 0
    }
}

.loader {
    position: relative;
    width: 186px;
    height: 186px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px -5px rgba(255, 255, 255, 0.5),
        inset 0 -40px 40px -20px rgba(255, 255, 255, 0.5);
    background: linear-gradient(var(--acsent-color) 186px, transparent 0) no-repeat;
    background-position: 0px 186px;
    animation: fillLq 7s linear infinite alternate;

    &:before {
        position: absolute;
        content: '';
        width: 40%;
        height: 25%;
        top: 20px;
        left: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transform: rotate(-45deg);
    }
}

.loader_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;

    .loader_p {
        text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
        font-family: var(--fm-main);
        font-weight: 500;
        font-size: 25px;
        color: #fff;
    }

    .loader_line_new {
        background: url(./../../../shared/assets/loader.png) center center / cover no-repeat;
        padding: 14px 58px;
        width: 333px;
        height: 50px;

        .animation {
            animation: fillLqq 7s linear infinite alternate;
            overflow: hidden;

            .line {
                background: url(./../../../shared/assets/loader_line.png) center center / cover no-repeat;
                width: 218px;
                height: 21px;

            }
        }

    }
}

@keyframes fillLqq {

    0%,
    10% {
        width: 0%;
    }

    90%,
    100% {
        width: 100%;
    }
}