.container {
    padding: 20px;
    padding-bottom: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    @media (max-height: 800px) {
      gap: 15px;
      padding-bottom: 5px;
      padding-top: 10px;
    }
}

.title {
    font-family: var(--fm-main);
    font-weight: 700;
    font-size: 62px;
    // font-size: 72px;
    text-align: center;
    color: #fff;

    @media (max-height: 800px) {
        font-size: 42px;
    }
}

.link {
    width: 100%;

    width: 347px;
    height: 52px;
    background: url(./assets/copy_bg.png) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fm-main);
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #fff;

    @media(max-width: 450px) {
        font-size: 27px;
    }

    @media(max-width: 330px) {
        font-size: 24px;
    }
    @media (max-height: 800px) {
        transform: scale(.8);
    }
}

.avtive {
    font-family: var(--fm-main);
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #fff;
    opacity: 1;
}

.link_text {
    font-family: var(--fm-main);
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    color: #fff;
    opacity: 0.5;

    @media(max-width: 450px) {
        font-size: 27px;
    }

    @media(max-width: 330px) {
        font-size: 24px;
    }
}

.copy_btn {
    cursor: pointer;
}

.invited {
    margin-bottom: 12px;
    font-family: var(--fm-main);
    font-weight: 700;
    font-size: 39px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    @media (max-height: 800px) {
        font-size: 27px;
    }
}