.button {
   
    padding-top: 2px;
    padding-bottom: 2px;
    width: 186px;
    height: 56px;
    background-image: url(./img/btn_sound.svg);
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    padding-left: 21px;
}

.sound_bg {
    width: 51px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-color);
    border-radius: 10px;
}

.play_off {
    // opacity: 0.2;
    filter: brightness(0.5);
}