.wallet {
    transition: all .5s;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 13px;
    z-index: 1;
}
.open {
    transition: all .5s;
    top: 110px;
    .arrow {
        opacity: 0;
        display: none;
    }
}
.arrow {
    position: absolute;
    right: 0;
    left: 0;
   bottom: -7px;
   transform: rotate(-90deg);
}
.wallet_btn {
    background: url(./assets/bottom_nav_btn.svg) center center /cover no-repeat;
    width: 91px;
    height: 91px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}