.wallet {
    transition: all .5s;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 97px;
    right: -73px;
}
.open {
    transition: all .5s;
    right: 7px;
    .arrow {
        opacity: 0;
        display: none;
    }
}
.arrow {
    position: relative;
    right: -14px;
}
.wallet_btn {
    background: url(./assets/bottom_nav_btn.svg) center center /cover no-repeat;
    width: 91px;
    height: 91px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}