.conatiner {
    // margin-top: 23px;
    width: 100%;
    padding: 0 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.fishhooks {
    // background: url(./assets/fishhook.svg) center center / cover no-repeat;
    width: 100%;
    position: relative;
    // z-index: 1;
}

.hook_bait {
    max-width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hook_item {
    position: fixed;
    animation: animate 10s linear infinite alternate;
    z-index: 0;

    &:nth-child(1) {
        top: 157px;
        left: -15px;
        // animation-delay: 2s;
        animation: animate 12s linear infinite alternate;

        .hook_bait {
            bottom: -20px;
            left: 35px;
        }
    }

    &:nth-child(2) {
        top: 77px;
        left: 50%;
        // animation-delay: 1s;
        animation: animate 10s linear infinite alternate;

    }

    &:nth-child(3) {
        top: 0px;
        right: 0;
        animation-delay: .85s;
        animation: animate 11s linear infinite alternate;

    }

    @media (max-height: 800px) {
        position: fixed;

        &:nth-child(2) {
            top: calc(70% - 100vh);
            left: 50%;
            // animation-delay: 1s;
            animation: animate 10s linear infinite alternate;

        }

        &:nth-child(3) {
            top: calc(70% - 100vh);
        }
    }
}

@keyframes animate {
    0% {
        transform:

            rotate(-5deg);
    }

    25% {
        transform:
            translateY(5px) rotate(15deg);
    }

    50% {
        transform:
            translateY(-5px) rotate(0deg);
    }

    100% {
        transform:
            translateY(0) rotate(10deg);
    }

}