.header,
.header_wrap {
    width: 100%;
    max-width: 398px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;

    height: 77px;
    position: relative;
    z-index: 2;

    @media (max-height: 800px) {
        height: 67px;
    }
}

.header {
    width: 100%;
    max-width: 398px;
    padding: 14px 19px;
    padding-bottom: 23px;
    background-image: url(./assets/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-height: 800px) {
        padding: 5px 10px;
        // background-size: contain;
    }
}

.header_game {
    background-image: url(./assets/header_game_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 7px;

    @media (max-height:850px) {
        background-size: contain;

    }

    .header {
        padding-bottom: 5px;
        background-image: none;
        height: fit-content;
    }

    .progress {
        background-image: url(./assets/progress_line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 183px;
        height: 27px;
        position: relative;
        padding: 7px 8px;

        .indicator_img {
            position: absolute;
            right: -6px;
            top: -2px;
            transition: all .5s;
        }

        .line {
            overflow: hidden;
            width: 0%;
            max-width: 137px;
            transition: all .5s;

            .line_img {
                width: 137px;
                height: 13px;
            }

        }
    }
}

.points,
.fz18 {
    font-family: var(--fm-main);
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    width: 100%;
    // max-width: 115px;
    height: 26.77px;
    padding: 5px 14px;
    background-image: url(./assets/nav_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 98px;
    height: 35px;

    &:nth-child(1) {
        // padding: 2px 17px 1.77px 3px;
    }

    &:nth-child(2) {
        // padding: 2px 12px 2.77px 6px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    // background-color: var(--box-bg);
    // border-radius: var(--main-br);
}

.menu {
    width: 42px;
    height: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

    padding: 8px 5px;
    // background-color: var(--box-bg);
    background-image: url(./assets/menu_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    cursor: pointer;
}

.menu_item {
    width: 33px;
    height: 5px;
    background-image: url(./assets/menu_line.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: var(--main-color);
    // border-radius: 2px;
}
.fz18 {
    font-size: 18px;
}