.slider {
    position: relative;

    margin-top: 20px;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    --slide-height: 305px;
    // --slide-height: 129px;
    --slide-size: 94px;

    margin-bottom: 13px;
    @media (max-height:850px) {
        margin-bottom: 0;
        margin-top: 10px;
    }
    @media (max-height:813px) {
        transform: scale(.75);
        height: 47%;
        margin-top: 0;
        margin-bottom: -25px;
    }
}

.embla__viewport {
    width: 100%;
    max-width: 306.79px;
    height: var(--slide-height);
    overflow: hidden;

    @media (max-width: 390px) {
        // max-width: 200.79px;
    }

    @media (max-height:813px) {
        // transform: scale(.75);
        height: 270px;

    }
}

.embla__container {
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    touch-action: pan-y;
}

.embla__slide {
    position: relative;
    flex: 0 0 var(--slide-size);
    min-width: 0;

    background-image: url(../../assets/slide.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 214px;
    height: 236px;
    margin: 0 20%;
    @media (max-height:813px) {
        // transform: scale(.75);
        height:220px;
        height: 201px;
        min-width: 187px;

    }
}

.slide_disable {
    background-image: url(../../assets/slide-disable_n.png);
}

.slide_worm {
    width: 58px;
    height: 61px;
    margin: auto;
}

.slide_fishes {
    position: absolute;
    bottom: 20px;
    max-width: 50%;
    max-height: 117px;
    @media (max-height:736px) {
        max-width: 40%;
       
    }
}

.slide_text {
    font-size: 17px;
    line-height: 21.49px;
    white-space: nowrap;

    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.embla__controls {
    width: 100%;
}

.embla__button {
    position: absolute;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        transform: scale(1.22) translateY(-50%);
    }

    transition: all 0.2s ease;
}

.embla__button_next {
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
    left: initial;

    &:hover {
        transform: scale(1.22) translateY(-50%) rotate(180deg);
    }
}

// .embla__button:disabled {
//     color: var(--detail-high-contrast);
// }
.collect_btn {
    font-family: var(--fm-main);
    font-weight: 700;
    font-size: 39px;
    color: #fff;
    width: 185px;
    height: 55px;
    padding: 16px;
    top: 250px;
    position: absolute;
}

.position {
    top: 250px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-height:813px) {
        // transform: scale(.75);
       top: 215px;

    }
}